/* Applies rules to the main window scene */
.root {
    -fx-background-color: #383838;
}

/* Applies rules to all the elements of the class "Label" */
.label {
    -fx-text-fill: #e8e8e8;
}

.button {
    -fx-background-color: linear-gradient(#A1B56C, #86C1B9);
    -fx-text-fill: #000000;
    -fx-background-radius: 4;
}

.button-custom {
    -fx-background-color: #AB4642;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
}

#bold-label {
    -fx-font-weight: bold;
}